.photo {
  margin-top: 1rem;
  max-width: 450px;
  max-height: 400px;
  width: auto;
  height: auto;
}
.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 2px #149df2 inset;
  display: flex;
  cursor: pointer;
  flex-wrap: wrap;
  justify-content: center;
}
