.logoStyle {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  /* background-color: rgb(48, 85, 209); */
  margin: 20px;
  margin-top: 0px;
  border: solid rgb(134, 134, 134) 1px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background: hsla(211, 43%, 64%, 0.68);
}

.logoStyle p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
